on:
  workflow_dispatch:
  schedule:
    # Runs every day at 8:00 AM Sydney time (9:00 PM UTC previous day)
    - cron: "0 21 * * *"

name: Renovate

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8d75b92f43899d483728e9a8a7fd44238020f6e6 # v46.1.2
        env:
          LOG_LEVEL: debug
        with:
          configurationFile: renovate-self-hosted.js
          token: ${{ secrets.RENOVATE_TOKEN }}
