on:
  workflow_dispatch:
  schedule:
    # Runs every day at 2:00 AM UTC
    - cron: "0 2 * * *"

name: Renovate

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v43.0.10
        env:
          LOG_LEVEL: debug
        with:
          configurationFile: renovate-self-hosted.js
          token: ${{ secrets.RENOVATE_TOKEN }}
